body {
    background: linear-gradient(rgb(185, 238, 211), white);
    background-size:cover
}
.image{
    height:900px;
    width: 700px;
    object-fit: cover;
    border-radius:10px;
    margin: 50px;
    position: absolute;
    right:30px;
    border-radius:10px ;
}

h1 {
   font-family: Waterfall; 
   font-size: 150px;
   font-weight: 200;
   position:absolute;
   margin: 30px;
   left: 30px
}
.answer {
    position:absolute;
    border-color:solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.761);
    font-family: Thasadith;
    padding: 20px;
    width: 1000px;
    text-align: left;
    font-size: 50px;
    left:50px;
}
button:hover{
    cursor:pointer;
    opacity:50%;
}

.option1{
bottom: 250px;
}
.option2 {
bottom: 100px;
}

span{
    font-size: 70px;
}

h2 {
    font-family: Thasadith;
    font-size: 90px;
    color: rgb(80, 110, 95);
    /* font-weight:900; */
    margin:100px;
    word-spacing: 15px;
    letter-spacing:3px ;
    line-height: 160px;
}
.best {
    display:none;
}
.okay {
    display:none;
}
.worst {
    display:none;
}

.reset{
    display:none;
    font-family: Thasadith;
    font-size: 50px;
    border-radius: 10px;
    padding:20px;
    margin: 100px;
    background-color: rgba(255, 255, 255, 0.685);
}